.reply-avatar{
    padding: 5px ;
    width: 40px;
    height: 40px;

}
.reply-list{
    margin-top: 20px;
    border: #eee7db solid 1px;
    padding: 5px;
}
.reply-ul{
    padding-inline-start: 0;
}
